.venv
__pycache__
db.sqlite3
.poetry
.coverage
hackman/static/admin
result*
*.swp

# compiled objects
*.pyc

# directory created during test runs
.pytest_cache/
/db

# nix-direnv
.direnv

# pypoetry dist
dist
